{erl_opts, [debug_info, warnings_as_errors]}.
{deps, [
    {cowboy, "2.9.0"},
    {ranch, "2.1.0"},
    {cowlib, "2.11.0"},
    {gun, "2.0.1"},
    {jsx, "3.1.0"},
    {uuid, "2.0.6", {pkg, uuid_erl}},
    {cecho, ".*", {git, "https://github.com/mazenharake/cecho.git", {branch, "master"}}},
    {lux, {git, "https://github.com/hawk/lux.git", {branch, "master"}}}
]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd)", compile, "gmake -C c_src"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd)", clean, "gmake -C c_src clean"}
]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{shell, [{apps, [cryptic]}]}.
