[
    %% Cryptic application configuration
    {cryptic, []},

    %% SASL configuration
    {sasl, [
        {sasl_error_logger, false}
    ]},

    %% Kernel configuration
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => info,
                formatter =>
                    {logger_formatter, #{
                        template => [time, " [", level, "] ", msg, "\n"]
                    }}
            }}
        ]}
    ]}
].
